@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
#navbarNavAltMarkup {
  justify-content: center;
}

.active {
  background-color: $primary;
}

.nav-link {
  cursor: pointer;
}

.login_form {
  position: absolute;
  z-index: 2;
}

.user_interaction {
  display: flex;
  align-items: center;
}
