@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
#navbarNavAltMarkup {
  justify-content: center;
}

.active {
  background-color: $primary;
}

.nav-link {
  cursor: pointer;
}
