<nav
  class="navbar navbar-expand-lg sticky-top bg-dark border-bottom border-bottom-dark"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="btn btn-dark" routerLink="/feed" routerLinkActive="active"
          >Feed</a
        >
        <a class="btn btn-dark" routerLink="/chat" routerLinkActive="active"
          >Chat</a
        >
      </div>
    </div>
    <div class="user_interaction">
      <div *ngIf="isLogged; else notLogged">
        <span class="text-light-emphasis px-3">{{ loggedUser }}</span>
        <button class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
      <ng-template #notLogged>
        <button class="btn btn-info" (click)="toggleLoginMenu()">Login</button>
      </ng-template>
    </div>
    <ngsocial-login
      *ngIf="loginIsVisible"
      (loginEvent)="updateLogStatus()"
    ></ngsocial-login>
  </div>
</nav>
