<div *ngIf="post" class="card" style="width: 18rem" data-bs-theme="dark">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ post.user }}</h5>
    <p #postContent class="card-text mb-0">
      {{ post.content }}
    </p>
    <i *ngIf="textOverflow"> (See more...) </i>
    <p class="card-text">
      <i class="blockquote-footer">
        {{ formatedDate }}
      </i>
    </p>
    <div class="interactions">
      <button class="btn btn-terciary">
        <i class="bi bi-suit-heart"></i>
      </button>
      <button class="btn btn-primary" (click)="toggleCollapse()">
        <i class="bi bi-chat-left-dots"></i>
      </button>
    </div>
    <div *ngIf="!collapse">
      <form>
        <div class="mb-3 mt-3">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
